.footer {
  width: 100%;
  position: fixed;
  height: 40px;
  padding-bottom: 55px;
  bottom: 0;
  background-color: #001f3f;
  color: white;
  border-top: 1px solid black;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
}