.div-main {
    display: flex;
    text-align: center;
}

.parent {
    padding-left: 18.5%;
    padding-top: 4%;
    padding-bottom: 160px;
    background-color: ghostwhite;
    /* background-size: 1600px 800px; */
    /* padding-right: 20% */
}

.h2 {
    text-align: left;
    font-style: italic;
    margin-left: 50px;
    padding-bottom: 55px;
}