.container {
    text-align: center;
    padding-bottom: 190px;
}

.image {
   width: 400px;
   height: 300px;
   animation: fadeInRight 3s;
   border-radius: 50px;
   border: 1px solid black;
}

.bold {
    font-size: 20px;
}

.button {
    font-size: 25px;
    text-decoration: none;
    color: tomato;
    margin-left: 20px;
}

.button:hover {
    text-decoration: none;
    color: red;
}

.red {
    color: red;
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateY(-90px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 
