.img {
    width: 100px;
    height: 100px;
}

.div-mid {
    margin-left: 50px;
}

.span {
    font-size: 20px;
}

.description {
    font-size: 17px;
    margin-top: 25px;
    width: 254px;
    height: 190px;
    text-align: justify;
}